extends layout

block content
    header#top.navbar.navbar-static-top(role='banner')
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='../', style="font-size:40px") Blockly for ScratchDuino
            nav.collapse.navbar-collapse.bs-navbar-collapseform.navbar-form.navbar-right
                div.form-group
                    button#settings.btn-sm.btn-default(type="button",style="margin-right: 5px" data-toggle="modal" data-target="#settingsModal")= t("settings.settings")
                        span.glyphicon.glyphicon-wrench(aria-hidden="true",style="margin-left: 4px")
                div.form-group(style="margin-right: 5px")
                    div.btn-group
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')= t("main.program")
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a#saveProgram(href="#")= t("settings.saveProgram")
                            li
                                a#loadProgram(href="#")= t("settings.loadProgram")
                            li
                                a#newProgram(href="#")= t("settings.newProgram")
                div.form-group
                    div.btn-group.btn-block
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            span(class="flag-icon flag-icon-#{lang} flag-icon-background")
                            span.caret
                        ul.dropdown-menu.btn-block
                            each language in langs
                                li
                                    a(href="/?lang=#{language}")
                                        span(class="flag-icon flag-icon-#{language} flag-icon-background" style="margin-right: 5px")
                                        span #{language}

    div.container-fluid
        .row
            div(role='tabpanel')
                ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation')
                        a#programTab(href='#program', role='tab' )= t("main.program")
                    li(role='presentation')
                        a#outputTab(href='#output',  role='tab')= t("main.output")
                .tab-content
                    #program.tab-pane.active(role='tabpanel')
                        div.container-fluid
                            .col-lg-7
                                div.panel.panel-default
                                    div.panel-heading= t("main.program")
                                    div.panel-body
                                        div#blocklyDiv(style="height: 600px")
                                        include toolbox.html
                            .col-lg-5
                                div.panel.panel-default(style="margin-bottom: 5px")
                                    div.panel-heading= t("main.sensors")
                                    div.panel-body#sensorsPanel
                                        .row.no-gutter
                                            form.form-inline
                                                .form-group(style="display:inline; margin-right:5px")
                                                    label.control-label(for="sensor1") 1:
                                                    input#sensor1.form-control(type="text", style="width:15%")
                                                .form-group(style="display:inline; margin-right:5px")
                                                    label.control-label(for="sensor2") 2:
                                                    input#sensor2.form-control(type="text", style="width:15%")
                                                .form-group(style="display:inline; margin-right:5px")
                                                    label.control-label(for="sensor3") 3:
                                                    input#sensor3.form-control(type="text", style="width:15%")
                                                .form-group(style="display:inline; margin-right:5px")
                                                    label.control-label(for="sensor4") 4:
                                                    input#sensor4.form-control(type="text", style="width:15%")
                                                .form-group(style="display:inline; margin-right:5px")
                                                    label.control-label(for="sensor5") 5:
                                                    input#sensor5.form-control(type="text", style="width:15%")
                                div.panel.panel-default(style="margin-bottom: 5px")
                                    div.panel-body(style="padding: 5px")
                                        button#launchCodeButton.btn.btn-primary(style="margin-right: 10px")= t("main.run")
                                        button#stopExecutionButton.btn.btn-warning(style="margin-right: 10px")= t("main.stop_execution")
                                        div.btn-group
                                            button#selectPortButton.btn.dropdown-toggle(data-toggle='dropdown')= t("main.portNotChosen")
                                            ul#portsList.dropdown-menu
                                div.panel.panel-default
                                    div.panel-heading= t("main.scene")
                                    div.panel-body
                                        div#sceneDiv(style="height: 400px")
                                            canvas#stageCanvas(style="height:100%; width:100%")
                    #output.tab-pane(role='tabpanel')
                        div.container-fluid
                            .col-lg-12
                                div.panel.panel-default
                                    div.panel-heading= t("main.output")
                                    div.panel-body(style="height: 300px")
                                        textarea#jsOutput(style="width: 100%; height: 100%;")


    div#settingsModal.modal.fade(role='dialog', aria-labelledby='settingsModalLabel', aria-hidden='true')
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title Modal title
                div#robotSettingsBody.modal-body
                    include ./conf_modal
                div.modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                    button#saveSettingsButton.btn.btn-success(type='button') Сохранить изменения

    div#loadSketchModal.modal.fade(role='dialog', aria-labelledby='loadSketchModalLabel', aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title= t("savedSketches.title")
                div.modal-body
                    input#loadSketchInput(type="file")

//-script.                      |
//Blockly.inject(document.getElementById('blocklyDiv'),|
// {toolbox: document.getElementById('toolbox')});
